---
import MainLayout from "../layouts/MainLayout.astro";
import ImageGallery from "../components/ImageGallery.astro";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import TiltedTrianlge from "../components/TiltedTrianlge.astro";
import { frontmatter as aboutData } from "../content/home/about_content.md";
import WorkExperience from "../components/WorkExperience.astro";
import AboutSection from "../components/AboutSection.astro";
import Achievements from "../components/Achievements.astro";

const images = [
  {
    src: "/award.JPG",
    alt: "",
  },
  {
    src: "/image_gallery/blog-placeholder-2.jpg",
    alt: "",
  },
  {
    src: "/image_gallery/blog-placeholder-5.jpg",
    alt: "",
  },
  {
    src: "/image_gallery/blog-placeholder-3.jpg",
    alt: "",
  },
];
---

<MainLayout>
  <section class="bg-primary_light text-white w-full overflow-hidden">
    <!-- Hero Section -->
    <div class="relative lg:h-[60vh]">
      <img
        src="/aboutus.png"
        class="w-full h-full object-cover"
        alt="Services Background"
      />
      <div
        class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center md:items-end md:justify-start p-10"
      >
        <h1
          class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-pacifico bg-primary rounded-sm underline px-5 py-2 text-white text-center"
        >
          About Us
        </h1>
      </div>
      <div class="absolute top-0 left-0 w-full h-full z-10">
        <TiltedTrianlge height="60vh" />
      </div>
    </div>

    <!-- About Dr. Waseem -->
    <AboutSection aboutData={aboutData} />

    <!-- Image Gallery -->
    <section class="py-16 bg-primary">
      <h1
        class="text-4xl sm:text-5xl font-bold mb-4 sm:mb-6 md:mb-8 text-center text-white font-pacifico underline"
      >
        Image Gallery
      </h1>

      <ImageGallery images={images} />
    </section>

    <!-- Work Experience -->
    <WorkExperience />

    <!-- Achievements -->
    <Achievements />
  </section>
</MainLayout>
