---
import Hero from "../components/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import IVF from "../components/IVF.astro";
import WhyChooseUs from "../components/WhyChooseUs.astro";
---

<MainLayout>
	<Hero />
	<IVF />
	<div class="flex justify-center items-center">
		<img 
			src="/WaseemAndrabi.png"
			class="w-full h-1/2"
		/>
	</div>
	<WhyChooseUs />
</MainLayout>
