---
import TiltedTrianlge from "../components/TiltedTrianlge.astro";
import { frontmatter as services } from "../content/home/services_content.md";
import MainLayout from "../layouts/MainLayout.astro";
const { services: serviceList } = services;
---

<MainLayout>
	<section class="bg-primary_light text-white relative overflow-hidden">
		<div class="relative h-[60vh] w-full">
			<img 
				src="/services.png"
				class="w-full h-full object-cover"
				alt="Services Background"
			/>
			<div class="absolute inset-0 bg-black bg-opacity-50 flex items-end justify-start p-10">
				<h1 class="text-4xl md:text-5xl lg:text-6xl font-pacifico bg-primary rounded-sm underline px-5 py-2 text-white text-center">Our Services</h1>
			</div>
		</div>
		<div class="absolute top-0 left-0 w-full h-full z-10">
			<TiltedTrianlge height="60vh" />
		</div>
		<div class="container mx-auto px-4 py-12 relative z-20">
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
				{serviceList.map((service, index) => (
					<div class={`bg-opacity-10 bg-white p-6 rounded-lg transform transition duration-300 hover:scale-105 hover:shadow-xl relative overflow-hidden group ${index === 0 ? 'md:col-span-2 lg:col-span-3' : ''}`}>
						<div class="flex items-center mb-4">
							<div class="bg-secondary p-3 rounded-full mr-4" />
							<h3 class="text-xl font-semibold">
								{service.title}
							</h3>
						</div>
						<p class="text-sm mb-4">
							{service.description}
						</p>
						<button class="mt-2 bg-secondary text-primary font-bold py-2 px-4 rounded-full transition duration-300 transform hover:-translate-y-1">
							Read More
						</button>
					</div>
				))}
			</div>
		</div>
	</section>
</MainLayout>