---
const carouselItems = await Astro.glob("/public/certificates/*.webp")
---

<section class="flex flex-col space-y-10 justify-center items-center mb-5">
  <div class="carousel carousel-center rounded-box" id="image-carousel">
    {
      carouselItems.map((image, index) => (
        <div class="carousel-item w-fit mx-1 bg-white rounded-xl m-2">
          <img
            src={image.default.src}
            class="rounded-xl h-52 sm:h-72 md:h-96 object-cover"
          />
        </div>
      ))
    }
  </div>
  <progress class="progress w-1/2" id="carousel-progress" value="0" max="100"></progress>
</section>

<script>
  const carousel = document.getElementById('image-carousel');
  const progressBar = document.getElementById('carousel-progress');

  carousel?.addEventListener('scroll', () => {
    const maxScrollLeft = carousel.scrollWidth - carousel.clientWidth;
    const currentScroll = carousel.scrollLeft;

    const scrollPercentage = (currentScroll / maxScrollLeft) * 100;

    progressBar.value = scrollPercentage;
  });
</script>
