---
const carouselItems = await Astro.glob("/public/certificates/*.webp");
---

<section class="flex flex-col justify-center items-center md:py-10 space-y-5 py-5">
  <h2
    class="text-2xl sm:text-4xl md:5xl underline font-semibold text-teal-300 text-center sm:text-left font-averia_sans pt-2"
  >
    Certificates
  </h2>
  <div class="carousel carousel-center rounded-box" id="image-carousel">
    {
      carouselItems.map((image, index) => (
        <div class="carousel-item w-fit mx-1 bg-white rounded-xl m-2">
          <img
            src={image.default.src}
            class="rounded-xl h-52 sm:h-72 md:h-96 object-cover"
          />
        </div>
      ))
    }
  </div>
  <progress class="progress w-1/2 my-5" id="carousel-progress" value="0" max="100"
  ></progress>
</section>

<script>
  const carousel = document.getElementById("image-carousel");
  const progressBar = document.getElementById("carousel-progress");

  carousel?.addEventListener("scroll", () => {
    const maxScrollLeft = carousel.scrollWidth - carousel.clientWidth;
    const currentScroll = carousel.scrollLeft;

    const scrollPercentage = (currentScroll / maxScrollLeft) * 100;

    progressBar.value = scrollPercentage;
  });
</script>
