---
import { Image } from 'astro:assets';
import AchivementsCarousel from "../components/AchievementsCarousel.astro"
import { getCollection } from 'astro:content';

// const imagesObj = import.meta.glob("/public/certificates/*.webp", { query: 'url' })
const carouselItems = await Astro.glob("/public/certificates/*.webp")
// const carouselItems = Object.values(imagesTes)
// console.log(imagesTes[0])

---

<section class="bg-primary py-16">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-averia_sans text-white text-center mb-12">Achievements</h2>
    
    <div class="mb-12">
      <ul class="list-disc list-inside text-secondary mb-6">
        <li>Most Trusted Embryologist in Delhi</li>
      </ul>
      <img src={carouselItems[0]} alt="Main Achievement" class="mx-auto rounded-lg shadow-lg" />
    </div>

    <AchivementsCarousel images={carouselItems}/>

  </div>
</section>

<style>
  .carousel-item img {
    max-height: 300px; /* Adjust as needed */
    object-fit: contain;
  }
</style>