<section class="bg-primary py-16">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-pacifico text-white underline decoration decoration-2 decoration-secondary text-center mb-12">Your Journey to Parenthood Starts Here</h2>
    
    <div class="text-center flex flex-col items-center">
      <h1 class="text-green-400 mb-6 text-2xl font-medium w-fit bg-primary_light px-2 py-1 rounded-md">Take the first step towards your future family today.</h1>
      <a href="/contact" class="bg-cream hover:bg-teal-600 hover:text-white text-primary font-bold py-2 px-8 rounded-full transition duration-300 ease-in-out transform hover:scale-105 inline-block">
        Book Your Consultation Now !
      </a>
    </div>
  </div>
</section>