---
const { name, email, message } = Astro.props;
---

<html lang="en">
  <head>
    <title>Email Template</title>
  </head>
  <body>
    <h1>Dr Waseem Andrabi</h1>
    <p><strong>Name:</strong> {name}</p>
    <p><strong>Email:</strong> {email}</p>
    <p><strong>Message:</strong> {message}</p>
  </body>
</html>