---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---
<!-- apply classes in the class:list if current page is active -->
<a href={href} class:list={[className, { "underline": isActive, "text-xl": isActive, "text-secondary": isActive, "text-secondary_dark": !isActive  }]} {...props}>
	<slot class="" />
</a>
