---
// ImageGallery.astro
const { images } = Astro.props;
---

<section class="px-5 sm:px-10 flex justify-center">
  <div class="carousel carousel-center bg-primary_light w-full sm:h-auto sm:w-2/3 rounded-box p-2 sm:p-4">
    {
      images.map((image) => (
        <div class="carousel-item w-full h-full px-1">
          <img src={image.src} class="rounded-box object-cover w-full h-full" />
        </div>
      ))
    }
  </div>
</section>
