---
const { rotate } = Astro.props;
---

<div class="flex flex-row justify-start items-center w-full p-10">
  <!-- Outer container -->
  <div class="relative bg-[#0B2D43] rounded-full w-full md:w-3/4 h-40 md:h-56">
    <!-- Heading -->
    <h1 class="text-2xl md:text-4xl">In-Vitro Fertilization (IVF)</h1>
  </div>
  <!-- Inner circle -->
  <div class="absolute bg-[#0C2332] border-2 border-white rounded-full w-40 h-40 md:w-72 md:h-72 mt-8 md:mt-0"></div>
</div>
