---
const { rotate } = Astro.props;
---

<div class="flex flex-row justify-center items-center w-full">
  <!-- Outer container -->
  <div
    class="bg-[#0B2D43] rounded-full w-3/4 h-40 md:h-56 flex justify-center items-center my-10"
  >
    <!-- the circle -->
<div
  class="bg-primary border-2 border-white rounded-full w-24 h-24 sm:w-40 sm:h-40 md:w-72 md:h-72 lg:w-[20vw] lg:h-[20vw] xl:w-[15vw] xl:h-[15vw] max-w-full max-h-full"
></div>
    <!-- Heading -->
    <div class="flex flex-col items-start rounded-r-full w-3/4 py-5 font-averia_sans">
      <div class="flex justify-center items-center p-10">
        <!-- <div class="h-fit">
          <li class="text-secondary text-4xl m-0 p-0 w-fit"></li>
        </div> -->
        <div class="flex flex-col">

        <h1 class="text-secondary underline text-3xl">In-Vitro Fertilization</h1>
        <p class="m-0 p-0 font-averia_sans">
          IVF is an assisted reproductive technique where eggs and sperm are
          fertilized in a laboratory dish. Mature eggs are retrieved from the
          female’s ovaries and combined with sperm, forming embryos. After a few
          days, the healthiest embryo is transferred into the uterus for
          implantation.
        </div>
      </div>
    </div>
  </div>
  <!-- <h1 class="text-2xl md:text-4xl">In-Vitro Fertilization (IVF)</h1> -->
</div>
<!-- Inner circle -->
